# Configuration file

##########################################################################################################
# changer
#--------------------------------------------------------------------------------------------------------#
# This section allows you to change attributes of items. Each "change" takes 1 line with the following format:
# property;item;value
# 
# property: The property you want to change. Allowed properties: ARMOR_PROTECTION, ARMOR_TOUGHNESS, ATTACK_DAMAGE, ATTACK_SPEED, DURABILITY, EFFICIENCY, ENCHANTABILITY, HARVEST_LEVEL, STACKSIZE
# item: The id of the item. This is usually the mod id (or "minecraft" for vanilla) followed by a colon followed by the item name. e.g. minecraft:iron_sword
# value: The new value for the property.
# 
# Keep in mind that changing the enchantability or harvest level affects the whole tool material, which means that you technically only need to change it for one tool.
# Unfortunately this also means that changing those attributes for one item also applies the change to every item with the same tool material (example below).
# Also, you can't change the attack speed of swords at the moment. Sorry!
# 
# Examples:
# 
# ATTACK_DAMAGE;minecraft:iron_axe;12
# (Increases the attack damage of every iron axe to 12)
# 
# DURABILITY;minecraft:diamond_sword;500
# DURABILITY;minecraft:diamond_pickaxe;500
# DURABILITY;minecraft:diamond_axe;500
# DURABILITY;minecraft:diamond_shovel;500
# DURABILITY;minecraft:diamond_hoe;500
# (Decreases the durability of every vanilla diamond tool to 500)
# 
# DURABILITY;minecraft:flint_and_steel;-1
# (Makes flint and steel unbreakable)
# 
# STACKSIZE;minecraft:snowball;64
# (Increases the stacksize of snowballs to 64)
# 
# HARVEST_LEVEL;minecraft:diamond_pickaxe;0
# (Decreases the harvest level of diamond pickaxes to 0. They can't even mine iron ore now)
# 
# ARMOR_PROTECTION;minecraft:leather_helmet;3
# ARMOR_PROTECTION;minecraft:leather_chestplate;8
# ARMOR_PROTECTION;minecraft:leather_leggings;6
# ARMOR_PROTECTION;minecraft:leather_boots;3
# ARMOR_TOUGHNESS;minecraft:leather_helmet;2
# ARMOR_TOUGHNESS;minecraft:leather_chestplate;2
# ARMOR_TOUGHNESS;minecraft:leather_leggings;2
# ARMOR_TOUGHNESS;minecraft:leather_boots;2
# (Makes leather armor as protective as diamond armor)
# 
# ARMOR_PROTECTION;minecraft:golden_helmet;2
# ARMOR_PROTECTION;minecraft:golden_chestplate;6
# ARMOR_PROTECTION;minecraft:golden_leggings;5
# ARMOR_PROTECTION;minecraft:golden_boots;2
# ARMOR_TOUGHNESS;minecraft:golden_helmet;3
# ARMOR_TOUGHNESS;minecraft:golden_chestplate;3
# ARMOR_TOUGHNESS;minecraft:golden_leggings;3
# ARMOR_TOUGHNESS;minecraft:golden_boots;3
# ATTACK_DAMAGE;minecraft:golden_sword;6.5
# ATTACK_DAMAGE;minecraft:golden_pickaxe;4.5
# ATTACK_DAMAGE;minecraft:golden_axe;9
# ATTACK_DAMAGE;minecraft:golden_shovel;5
# ATTACK_SPEED;minecraft:golden_axe;0.95
# ATTACK_SPEED;minecraft:golden_hoe;3.5
# DURABILITY;minecraft:golden_helmet;212
# DURABILITY;minecraft:golden_chestplate;308
# DURABILITY;minecraft:golden_leggings;289
# DURABILITY;minecraft:golden_boots;250
# DURABILITY;minecraft:golden_sword;420
# DURABILITY;minecraft:golden_pickaxe;420
# DURABILITY;minecraft:golden_axe;420
# DURABILITY;minecraft:golden_shovel;420
# DURABILITY;minecraft:golden_hoe;420
# EFFICIENCY;minecraft:golden_pickaxe;7
# EFFICIENCY;minecraft:golden_axe;7
# EFFICIENCY;minecraft:golden_shovel;7
# HARVEST_LEVEL;minecraft:golden_pickaxe;2
# ENCHANTABILITY;minecraft:golden_pickaxe;16
# ENCHANTABILITY;minecraft:golden_helmet;19
# (Better Gold: Changes golden tools, swords and armor properties completley. As you can see, I only changed the enchantability for one tool and one armor item since it affects the whole gold material)
##########################################################################################################

changer {
    #  [default: ]
    S:changer <
        ATTACK_DAMAGE;minecraft:stone_sword;4
        ATTACK_DAMAGE;minecraft:golden_sword;6.5
        ATTACK_DAMAGE;minecraft:diamond_sword;8
        
        ARMOR_PROTECTION;minecraft:golden_helmet;3
        ARMOR_PROTECTION;minecraft:golden_chestplate;5
        ARMOR_PROTECTION;minecraft:golden_leggings;4
        ARMOR_PROTECTION;minecraft:golden_boots;3
        ARMOR_TOUGHNESS;minecraft:golden_chestplate;1
        ARMOR_TOUGHNESS;minecraft:golden_leggings;1
        
        ATTACK_DAMAGE;bonecraft:boneaxeitem;4
        ATTACK_DAMAGE;bonecraft:bonesworditem;5
        ARMOR_TOUGHNESS;bonecraft:bonechestitem;1
        ARMOR_PROTECTION;bonecraft:bonechestitem;3
        ARMOR_PROTECTION;bonecraft:bonelegsitem;3
        ARMOR_PROTECTION;bonecraft:bonebootsitem;2
        
        ARMOR_TOUGHNESS;ceramics:clay_chestplate;1
        ARMOR_PROTECTION;ceramics:clay_leggings;3
        
        DURABILITY;cyberware:katana;200
        ATTACK_DAMAGE;cyberware:katana;7
        
        
        ARMOR_PROTECTION;dse:scubamask;3
        ARMOR_PROTECTION;dse:scubachest;5
        ARMOR_PROTECTION;dse:scubalegs;4
        ARMOR_PROTECTION;dse:scubaboots;3
        
        
        ATTACK_DAMAGE;glacidus:underground_sword;3.5
        DURABILITY;glacidus:underground_sword;75
        DURABILITY;glacidus:underground_pickaxe;75
        DURABILITY;glacidus:underground_shovel;75
        DURABILITY;glacidus:underground_hoe;75
        DURABILITY;glacidus:underground_axe;75
        
        EFFICIENCY;glacidus:underground_pickaxe;4
        EFFICIENCY;glacidus:underground_shovel;4
        EFFICIENCY;glacidus:underground_axe;4
        
        ATTACK_DAMAGE;glacidus:antinatric_sword;4.5
        DURABILITY;glacidus:antinatric_sword;150
        DURABILITY;glacidus:antinatric_pickaxe;150
        DURABILITY;glacidus:antinatric_shovel;150
        DURABILITY;glacidus:antinatric_hoe;150
        DURABILITY;glacidus:antinatric_axe;150
        
        EFFICIENCY;glacidus:antinatric_pickaxe;6
        EFFICIENCY;glacidus:antinatric_shovel;6
        EFFICIENCY;glacidus:antinatric_axe;6
        
        ATTACK_DAMAGE;glacidus:eukeite_sword;6.5
        DURABILITY;glacidus:eukeite_sword;275
        DURABILITY;glacidus:eukeite_pickaxe;275
        DURABILITY;glacidus:eukeite_shovel;275
        DURABILITY;glacidus:eukeite_hoe;275
        DURABILITY;glacidus:eukeite_axe;275
        
        EFFICIENCY;glacidus:eukeite_pickaxe;8
        EFFICIENCY;glacidus:eukeite_shovel;8
        EFFICIENCY;glacidus:eukeite_axe;8
        
        ATTACK_DAMAGE;glacidus:glacidite_sword;10
        EFFICIENCY;glacidus:glacidite_pickaxe;10
        EFFICIENCY;glacidus:glacidite_shovel;10
        EFFICIENCY;glacidus:glacidite_axe;10
        
        ARMOR_PROTECTION;glacidus:merialces_hide_helmet;2
        ARMOR_PROTECTION;glacidus:merialces_hide_leggings;3
        ARMOR_PROTECTION;glacidus:merialces_hide_boots;2
        ARMOR_TOUGHNESS;glacidus:merialces_hide_chestplate;1
        ARMOR_TOUGHNESS;glacidus:merialces_hide_leggings;1
        
        ARMOR_PROTECTION;glacidus:glacidite_helmet;4
        ARMOR_PROTECTION;glacidus:glacidite_chestplate;8
        ARMOR_PROTECTION;glacidus:glacidite_leggings;6
        ARMOR_PROTECTION;glacidus:glacidite_boots;4
        ARMOR_TOUGHNESS;glacidus:glacidite_helmet;1
        ARMOR_TOUGHNESS;glacidus:glacidite_chestplate;2
        ARMOR_TOUGHNESS;glacidus:glacidite_leggings;2
        ARMOR_TOUGHNESS;glacidus:glacidite_boots;1
        
        
        EFFICIENCY;multitools:paxel_iron;8
        EFFICIENCY;multitools:paxel_gold;14
        EFFICIENCY;multitools:paxel_diamond;10
        EFFICIENCY;multitools:universaltool_iron;8
        EFFICIENCY;multitools:universaltool_gold;14
        EFFICIENCY;multitools:universaltool_diamond;10
        
        
        ATTACK_DAMAGE;natura:netherquartz_sword;5.5
        ATTACK_DAMAGE;natura:netherquartz_kama;5.5
        EFFICIENCY;natura:netherquartz_pickaxe;7
        EFFICIENCY;natura:netherquartz_shovel;7
        EFFICIENCY;natura:netherquartz_axe;7
        
        
        DURABILITY;pristeel:pristeel_dagger;200
        ATTACK_DAMAGE;pristeel:pristeel_dagger;5
        ATTACK_DAMAGE;pristeel:pristeel_sword;7
        
        ARMOR_PROTECTION;pristeel:pristeel_helmet;4
        ARMOR_PROTECTION;pristeel:pristeel_chestplate;5
        ARMOR_PROTECTION;pristeel:pristeel_legs;5
        ARMOR_PROTECTION;pristeel:pristeel_boots;3
        ARMOR_TOUGHNESS;pristeel:pristeel_helmet;1
        ARMOR_TOUGHNESS;pristeel:pristeel_chestplate;2
        ARMOR_TOUGHNESS;pristeel:pristeel_legs;2
        ARMOR_TOUGHNESS;pristeel:pristeel_boots;1
        
        
        ATTACK_DAMAGE;projectred-exploration:peridot_sword;7
        ATTACK_DAMAGE;projectred-exploration:peridot_pickaxe;5
        ATTACK_DAMAGE;projectred-exploration:peridot_shovel;5.5
        ATTACK_DAMAGE;projectred-exploration:peridot_axe;4.5
        ATTACK_DAMAGE;projectred-exploration:peridot_sickle;7
        
        ARMOR_TOUGHNESS;redstonearsenal:armor.helmet_flux;4
        ARMOR_TOUGHNESS;redstonearsenal:armor.plate_flux;4
        ARMOR_TOUGHNESS;redstonearsenal:armor.legs_flux;4
        ARMOR_TOUGHNESS;redstonearsenal:armor.boots_flux;4
        
        EFFICIENCY;thermalfoundation:tool.pickaxe_bronze;7.25
        EFFICIENCY;thermalfoundation:tool.shovel_bronze;7.25
        EFFICIENCY;thermalfoundation:tool.hoe_bronze;7.25
        EFFICIENCY;thermalfoundation:tool.axe_bronze;7.25
        EFFICIENCY;thermalfoundation:tool.hammer_bronze;7.25
        EFFICIENCY;thermalfoundation:tool.excavator_bronze;7.25
        
        ARMOR_TOUGHNESS;thermalfoundation:armor.helmet_platinum;3
        ARMOR_TOUGHNESS;thermalfoundation:armor.plate_platinum;3
        ARMOR_TOUGHNESS;thermalfoundation:armor.legs_platinum;3
        ARMOR_TOUGHNESS;thermalfoundation:armor.boots_platinum;3
        ARMOR_PROTECTION;thermalfoundation:armor.helmet_steel;3
        ARMOR_PROTECTION;thermalfoundation:armor.plate_steel;5
        ARMOR_TOUGHNESS;thermalfoundation:armor.plate_steel;2
        ARMOR_PROTECTION;thermalfoundation:armor.boots_steel;3
        ARMOR_TOUGHNESS;thermalfoundation:armor.helmet_invar;0
        ARMOR_TOUGHNESS;thermalfoundation:armor.plate_invar;0
        ARMOR_TOUGHNESS;thermalfoundation:armor.legs_invar;0
        ARMOR_TOUGHNESS;thermalfoundation:armor.boots_invar;0
        ARMOR_PROTECTION;thermalfoundation:armor.legs_bronze;5
        
        ATTACK_DAMAGE;vulcanite:vulcanite_sword;12
        DURABILITY;vulcanite:vulcanite_sword;1850
        DURABILITY;vulcanite:vulcanite_pickaxe;1850
        DURABILITY;vulcanite:vulcanite_shovel;1850
        DURABILITY;vulcanite:vulcanite_hoe;1850
        DURABILITY;vulcanite:vulcanite_axe;1850
        
        EFFICIENCY;vulcanite:vulcanite_pickaxe;12
        EFFICIENCY;vulcanite:vulcanite_shovel;12
        EFFICIENCY;vulcanite:vulcanite_axe;12
        
        ARMOR_PROTECTION;vulcanite:vulcanite_helmet;7
        ARMOR_PROTECTION;vulcanite:vulcanite_chestplate;8
        ARMOR_PROTECTION;vulcanite:vulcanite_leggings;6
        ARMOR_PROTECTION;vulcanite:vulcanite_boots;5
        ARMOR_TOUGHNESS;vulcanite:vulcanite_helmet;2
        ARMOR_TOUGHNESS;vulcanite:vulcanite_chestplate;3
        ARMOR_TOUGHNESS;vulcanite:vulcanite_leggings;3
        ARMOR_TOUGHNESS;vulcanite:vulcanite_boots;2
		
        DURABILITY;vulcanite:vulcanite_helmet;392
        DURABILITY;vulcanite:vulcanite_chestplate;502
        DURABILITY;vulcanite:vulcanite_leggings;480
        DURABILITY;vulcanite:vulcanite_boots;436
     >
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
}


