# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
Things will get harder the longer you play.
Passive mobs will drop bones when killed.
As with all my modpacks, the combat cooldown is disabled.
Zombies will occasionally drop the remnants of their bones.
Many items will have alternate recipes that can be unlocked later.
Some people still retain the Credit Chips they held before the plague struck them down.
Glowstone and Sea Lanterns can rarely be found on the Alien Jungle's surface.
Defamont will periodically send his own strike teams - if you meet the correct conditions...
The IPF will send strike teams every so often. Be prepared for a fight at all times.
Research will often accept unexpected items, and always has a wide variety of valid items.
Not every place will hold the resources you need. Sometimes it's best to pack everything & leave.
Bookstands and Lecterns are great to store Linking and Descriptive Books in, and allow you to use the book inside of it.
The Cortical Stack you start with will store your Experience on death (if it's installed), and the capsule will be near your gravestone.
You can use Linking Books to "bookmark" places that have good resource placement/worldgen, or locations you like. Just don't lose them!
Alongside adjusting video settings, you can set the priority of javaw.exe to "High" in Task Manager to help alleviate some lag.
Editing the JVM arguments can also improve performance. The Discord server lists what's best to use.
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=2

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=42
}


